<main>

<link rel="stylesheet" href="css/partial.css" >
<h1>List of Managers</h1>
<button ui-sref="home">home</button>
<link rel="stylesheet" href="css/partial.css" >

<button ui-sref="secpartial">List of Associates</button>

<!--the ngInit directive allows you to evaluate an expression in the current scope.-->
<div ng-init="objs = [{name:'Paul', id:'3'},
                         {name:'Tom', id:'10'},
                         {name:'Cal', id:'12'},
                         {name:'Joe', id:'7'},
                         {name:'Dale', id:'15'},
                         {name:'Bob', id:'60'}]"></div>


<label>Search: <input ng-model="searchText"></label>

<table id="searchTextResults">
  <tr><th>Name</th><th>ID</th></tr>
  <tr ng-repeat="obj in objs | filter:searchText">
    <td>{{obj.name}}</td>
    <td>{{obj.id}}</td>
  </tr>
</table>

<img src="http://images.clipartpanda.com/store-clipart-store-md.png" alt="" />
<script src="src/secpartial.js">

</script>
</main>
